@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
     font-family: 'Inter', sans-serif ;
}
.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    position: relative;
}
.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    color: aliceblue;
    font-size: 4rem ;
}
h2{ 
    font-size: 3rem;
    margin-bottom: 100px;   
}
p{
    font-size: 1.5rem;
    line-height: 1.5em;
}
.slider-content{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 300;
}
.section {
    padding: 100px 0;
}
.boxed {
    max-width:1200px ;
    margin-inline:auto ;
}
.flex{  
    display: flex;
}
.w40{   
    width: 40%;
}
.w60{   
    width: 60%;
}
.orange{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/slider.jpg);
    background-size: cover;
    color: #fff;
}
.text-center{
    text-align: center;
}
.w25 {
    width: 25%;
}
.w32{
    width: 32%;
}
.space-between{
    justify-content: space-between;
}
.gap20{
    gap: 50px;
}
.skill{
    background: #ffffff;
    border-radius: 70px;
    padding: 15px;
    box-sizing: border-box;
}
.skill img{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.skill h3{
    margin-top: 10px;
    color: black;
}
.realisation{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}
.realisation h3{
    position: absolute;
    top: 200px;
    left: 200px;
    transform:translate(-50%,-50%) ;
    font-size: 2rem;
    width: fit-content;
    opacity: 0;
    transition:.4s ease;
}
.realisation a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #fff;
}
.realisation img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition: 4s ease;
}
.realisation:hover h3{
    opacity: 1;
}
.icon{
    display: block;
    font-size: 40px; !important;
}
.label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}
.value{
    display: block;
    font-size: 1.5rem;
}
.contact{
    border: 2px dashed #fff;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
